%body
  .side-bar
    .user-name
      .top-items
        .top-items__name kojima
        .top-items__icons
          = link_to "#", class: "icons__edit-btn" do
            = icon('far', 'edit')
          = link_to "#", class: "icons__cog-btn" do
            = icon('fas', 'cog')
    .group-list
      .group-info
        .group-info__groupname  techcamp
        .group-info__messages  まだメッセージがありません
      .group-info
        .group-info__groupname  techcamp2
        .group-info__messages  まだメッセージがありません